* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
  }
  a{
    color: black;
    text-decoration: none;
  }
  .inputSearch{
      border: 0;
      outline: 0;
      width: 350px;
      height: 100%;
      font-size: 19px;
  }
  .category-btn{
    font-weight: bold !important;
    text-transform: capitalize;
    display: flex;
    align-items: center;
    justify-content: start;
    cursor: pointer;
    background: transparent;
    border: 0;
    outline: 0;
    padding: 7px 15px;
    margin: 10px 0;
    border-radius: 20px;
    transition: all 0.3s ease;
  }
  .category-btn:hover{
    background-color: #76323f !important;
    color: white !important;
  
  }
  .category-btn:hover span{
    color: white !important;
  }
  ::-webkit-scrollbar{
    width: 3px;
    height: 7px;
  }
  ::-webkit-scrollbar-thumb{
    background-color: rgb(114, 113, 113);
    border-radius: 10px;
    height: 200px;
  }
  ::-webkit-scrollbar-track{
    background-color: transparent;
  }

  .react-player{
    width: 100% !important;
    height: 77vh !important;
  }

 @media screen and (max-width:600px){
  .inputSearch{
    width: 200px;
  }
  
  .react-player{
  
    height: 45vh !important;
  }
}